.App {
	display: grid;
	grid-template-columns: 20% min(600px, 100%);
}

.page-header {
	padding: 1rem;
	text-align: center;
	font-size: 2rem;
	color: #9c27b0;
}

.header-2 {
	font-size: 1.4rem;
	text-align: center;
}

.error-message {
	color: #f00;
}
